
<link rel="stylesheet" href="/css/footer.css">
<!-- footer -->
<footer>
  <div class="about">
    <h1><span class="logo-text">SakiBee </span> <span>Blog</span></h1>
    <p>
      Where curiosity meets knowledge and stories come alive.
    </p>
    <!-- Contacts -->
    <div class="contact">
      <span>
        <i class="fa fa-phone"></i>
        + (123) 456 789
      </span>
      <span>
        <i class="fa fa-envelope"></i>
        
        <a href="mailto:support@inovotek.com">
          support@sakibee.com
        </a>
      </span>

    </div>
    <!-- socials -->
    <div class="socials">
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="fa fa-twitter"></i>
      </a>
      <a href="https://www.youtube.com/c/inovotek-academy">
        <i class="fa fa-facebook"></i>
      </a>
     
</footer>