<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/profile.css" />
    <title>User Info</title>
  </head>
  <body>
    <!-- nav -->
    <%- include("../partials/navbar.ejs") %>

    <div class="profile-container">
      <header style="background-image: url(../../public/images/headerbg.jpg)">
        <div class="icons-container">
          <p>Contact info</p>
        </div>
      </header>

      <!-- profile image -->
      <div class="profile-img">
        <img src="../../public/images/post3.jpg" alt="profile image"/>
      </div>

      <!-- personal details -->
      <div class="personal-container">
        <div class="details-wrapper">
          <div class="details">
            <i class="fa fa-user"></i>
            <p>Name: Md. Sakib Uddin</p>
          </div>
          <div class="details">
            <i class="fa fa-envelope"></i>
            <p>Email: abc@gmail.com</p>
          </div>
          <div class="details">
            <i class="fa fa-calendar"></i>
            <p>Since: 01 jan, 2022</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="latest-post-title">
      <!-- Icon -->
      <i class="fa fa-book-open"></i>
      <h1>Total Posts (20)</h1>
    </div>

    <!-- content -->
    <section class="container-flex">
            <article class="post-content">
              <img src="../../public/images/post7.jpg" alt="" class="post-image" />
              <p class="post-info">
                <span class="post-date">
                  <i class="fa fa-calendar-alt"></i>
                  <time datetime="2020-01-01">2020-01-01</time>
                </span>
              </p>
              <h1 class="post-title">Title</h1>
              <p class="post-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, incidunt vero totam atque eius labore reiciendis reprehenderit earum, veniam sint ullam quibusdam vitae eligendi aperiam perspiciatis cupiditate optio neque? Maiores?

              </p>
              <!-- category -->
              <div class="post-category">
                <span>Java</span>
              </div>
              <a href="#" class="post-read-more">Continue Reading...</a>
            </article>  
            <article class="post-content">
              <img src="../../public/images/post7.jpg" alt="" class="post-image" />
              <p class="post-info">
                <span class="post-date">
                  <i class="fa fa-calendar-alt"></i>
                  <time datetime="2020-01-01">2020-01-01</time>
                </span>
              </p>
              <h1 class="post-title">Title</h1>
              <p class="post-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, incidunt vero totam atque eius labore reiciendis reprehenderit earum, veniam sint ullam quibusdam vitae eligendi aperiam perspiciatis cupiditate optio neque? Maiores?

              </p>
              <!-- category -->
              <div class="post-category">
                <span>Java</span>
              </div>
              <a href="#" class="post-read-more">Continue Reading...</a>
            </article> 
            <article class="post-content">
              <img src="../../public/images/post7.jpg" alt="" class="post-image" />
              <p class="post-info">
                <span class="post-date">
                  <i class="fa fa-calendar-alt"></i>
                  <time datetime="2020-01-01">2020-01-01</time>
                </span>
              </p>
              <h1 class="post-title">Title</h1>
              <p class="post-body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, incidunt vero totam atque eius labore reiciendis reprehenderit earum, veniam sint ullam quibusdam vitae eligendi aperiam perspiciatis cupiditate optio neque? Maiores?

              </p>
              <!-- category -->
              <div class="post-category">
                <span>Java</span>
              </div>
              <a href="#" class="post-read-more">Continue Reading...</a>
            </article>     
    </section>
    <!-- footer -->
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
